<h1>Заведения:</h1><br>
<div class="row">
	<% @establishments.each do |establishment| %>
		<div class="col-md-4" align="center">
			<%= image_tag establishment.image.url(:medium) %><br>
			<h4><%= link_to establishment.title, establishment_path(establishment) %></h4> 
			<%= truncate(establishment.description, length: 100) %>
		</div>

	<% end %>
</div>